html{
  scroll-behavior: smooth;
}

:root{
  --sidebar-color: #3341ff;
  --sb-accent-color: #3365ff;
  /* --content-bg-color: #F9F9FA; */
  --content-bg-color: gray;
  --content-accent-color:
}

body {
  min-height: 150vh;
  margin: 0%;
  background-color: var(--content-bg-color);
  font-family: "Titillium Web", sans-serif;
  letter-spacing: .05em;
}

a{
  text-decoration: none;
  color:white;
}



.sidebar {
  /* display: flex; */
  position: fixed;
  width: 350px;
  background-color: var(--sidebar-color);
  right: 100px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  border-right: 2px solid black;
}

.sidebar-wrapper{
  margin: 1.5em;
}

.sidebar-content{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portrait {
  border-radius: 5%;
  height: 80%;
  width: 80%;
}


.side-links ul{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}


.side-links li {
  width: 7.5em;
  text-align: center;
  background-color: var(--sb-accent-color);
  list-style: none;
  margin: 5% auto;
  font-size: 1.75rem;
  border: 1px solid;
  border-radius: 3px;
}

.side-links li:hover{
  background-color: black;
}

.side-links a{
  margin: 0;
}

.personal-info{
  color:white;
  font-size: 1.15rem;
  margin-top: 2.5rem;
}



#welcome-section {
  border: solid black;
  padding: 20px;
  margin-top: 0px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects{
  height: 100vh;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;

}

.project-tile{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 50vh;
  margin:10px;
  border-style: solid;
  border-color: black;
}

.project-tile a{
  background-color: var(--sb-accent-color);
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  width:25%;



}


.content {
  padding: .5%;
  margin-left: 350px;
}



#contact{
  height: 100vh;
  border-style: solid;
  border-color: black;
}

/* @media (max-width: 1800px){
  html{
    scroll-behavior: smooth;
  }
  body {
    min-height: 150vh;
    margin: 0%;
    background-color: gray;
    font-family: "Titillium Web", sans-serif;
    letter-spacing: .05em;
  }



  .sidebar {

    position: fixed;
    width: 350px;
    background-color: #3374ff;
    right: 100px;
    top: 0px;
    left: 0px;
    bottom: 0px;

  }

  .sidebar-wrapper{
    margin: 1.5em;
  }

  .sidebar-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .side-links ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }


  .side-links li {
    width: 5em;
    text-align: center;
    background-color: #3341ff;
    list-style: none;
    margin: 5% auto;
    font-size: 1.75rem;
  }

  .side-links li:hover{
    background-color: black;
  }

  .side-links a{
    margin: 0;
    color:white;
  }



  #welcome-section {
    border-style: solid;
    border-color: black;
    padding: 20px;
    margin-top: 0px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #projects{
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

  }

  .project-tile{
    height: 50vh;
    margin:10px;
    border-style: solid;
    border-color: black;
  }

  .project-tile a{
    background-color: yellow;
    width:25%;
    display: flex;
    align-self: flex-end;

  }


  .content {
    padding: .5%;
    margin-left: 350px;
  }



  #contact{
    height: 100vh;
    border-style: solid;
    border-color: black;
  }

} */

@media (max-width:1000px) {
  .sidebar {
    position: fixed;
    max-height: 150px;
    width: 100vw;
    background-color: #3374ff;
    right: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  .sidebar-wrapper{
    margin: 1.5em;
  }

  .sidebar-content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .side-links ul{
    display:flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: space-between;
    padding: 0;
  }


  .side-links li {
    width: 5.5em;
    text-align: center;
    background-color: #3341ff;
    list-style: none;
    margin: auto 5%;
    font-size: 1.75rem;
  }

  .side-links li:hover{
    background-color: black;
  }

  .side-links a{
    margin: 0;
    color:white;
  }

  .content{
    margin-top: 30%;
    margin-left: 0;
  }

  .portrait{
    max-width: 10%;
    max-height: 10%;
    flex-shrink: 0;
    margin-right: 20px;
  }
}
